.value{
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.label{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #2e2f42;
  text-transform: uppercase;
}

.field{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer{
    display: flex;
    flex-direction: row;
    gap: 24px; 
 
}

#datetime-picker{ padding-left: 8px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
   background: #fff;
   margin-bottom: 32px;
  
   outline: none;
   transition: border 150ms;
}

#datetime-picker:focus:enabled,
#datetime-picker:hover:enabled{
 border-color: black;
}

#datetime-picker:active{
    border: 1px solid #4e75ff;
}

#datetime-picker:disabled{
    cursor: default;
    border: 1px solid #808080;
        border-radius: 4px;
        width: 272px;
        height: 40px;
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #808080;
}

.buttonStart{

    display: inline-flex;
    border: none;
        align-items: center;
        justify-content: center;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
        flex-direction: row;
        gap: 10px;
      border-radius: 8px;
        padding: 8px 16px;
        width: 75px;
        height: 40px;
      background: #4e75ff;
      margin-left: 8px;
}

.buttonStart:disabled{
    background: #cfcfcf;
    color: #989898;
    cursor: default;
}

.buttonStart:hover:enabled,
.buttonStart:focus :enabled{
    background: #6c8cff;
}

