main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #571af3 #0000 #06bed2 #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
}

.loader:before,
.loader:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #8124c3;
    transform: translate(-10px, 19px) rotate(-35deg);
}

.loader:after {
    border-color: #8124c3 #0000 #0000 #0000;
    transform: translate(32px, 3px) rotate(-35deg);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

input {
    border: 1px solid #808080;
    border-radius: 4px;
    max-width: 272px;
    min-height: 40px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: none;
    transition: border-color 0.3s ease;

}

input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
}

input:hover {
    border: 1px solid #000000;
}

input:focus,
input:not(:placeholder-shown):focus {
    border: 1px solid #4e75ff;
}

.buttonSearch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-left: 8px;
    transition: background-color 0.3s ease;
}

.buttonSearch:hover,
.buttonSearch:focus {
    background-color: #6c8cff;
}

.list-img {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.imgAdded {
    position: relative;
    overflow: hidden;
    border: 1px solid #808080;
    max-width: 360px;
    max-height: 200px;
}

.imgAdded img {
    width: 100%;
    height: auto;
}

.descr {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 4px;
    height: 48px;
    box-sizing: border-box;
    border-top: 1px solid #808080;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.descr p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}